<div class="pose-details-view">
  @if (!data) {
    <p>Loading...</p>
  } @else {
    <section class="pose-details">
      <h1 class="pose-name">{{ formatName() }}</h1>
      <p class="sanskrit-name">{{data.data.attributes.sanskrit_name}}</p>
      <p class="name-translation">{{data.data.attributes.translation_name}}</p>
      <img class="pose-img" src="{{data.data.attributes.image_url}}" alt="{{ formatName() }}"/>
      <p class="description"><strong>Benefits:</strong> {{data.data.attributes.pose_benefits}}</p>
      <p class="description"><strong>Alignment:</strong> {{data.data.attributes.pose_description}}</p>
    </section>
  }
</div>
