.nav-wrapper {
  background-color: white;
  box-shadow: var(--shadow-elevation-medium);

  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: 0 1vw;

    .title {
      color: var(--dark-green);
      font-size: 60px;
      cursor: pointer;
      transition-duration: 0.4s;

      &:hover {
        color: var(--light-green);
      }
    }

    .buttons {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: white;
        // background-color: #FEC5B9;
        height: 40px;
        width: 150px;
        margin: 0 8px;
        cursor: pointer;
        font-size: 30px;
        color: var(--dark-green);
        transition-duration: 0.4s;
        
        &:hover {
          background-color: #fec5b9;
          // transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
        }
      }

      i {
        font-size: 50px;
        color: var(--dark-green);
        cursor: pointer;
        transition-duration: 0.4s;

        &:hover {
          color: var(--light-green);
          // color: var(--deep-green);
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .buttons {
    visibility: hidden;
  }
}