.nav-wrapper {
  background-color: white;
  box-shadow: var(--shadow-elevation-medium);
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;

  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: 0 1vw;

    .title {
      color: var(--dark-green);
      font-size: 60px;
      cursor: pointer;
      transition-duration: 0.4s;

      &:hover {
        color: var(--light-green);
      }
    }

    .buttons {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: white;
        height: 40px;
        width: 150px;
        margin: 0 8px;
        cursor: pointer;
        font-size: 30px;
        color: var(--dark-green);
        transition-duration: 0.4s;
        
        &:hover {
          color: var(--light-green);
          background-color: whitesmoke;
        }
      }

      i {
        font-size: 50px;
        color: var(--dark-green);
        cursor: pointer;
        transition-duration: 0.4s;

        &:hover {
          color: var(--light-green);
        }
      }
    }
  }
}

.mobile-buttons {
  display: none;
}
