.login {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .left-side {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    min-height: 510px;
    min-width: 440px;
    margin-top: 10vh;
    border-radius: 8px 0 0 8px;
    box-shadow: 4px 3px 8px gray;
    
    .email-div,
    .password-div,
    .login-div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    
    label {
      margin: 0;
      font-size: 1.5rem;
    }
    
    input {
      border: 1px solid black;
      padding-left: 8px;
      font-size: 1.5rem;
      margin-bottom: 3vh;
      // height: 4vh;
      height: 40px;
      width: 300px;
    }
    
    input,
    button {
      border-radius: 10px;
    }
    
    .login-button {
      border: none;
      background-color: var(--peach);
      font-size: 3vh;
      height: 50px;
      width: 200px;
      margin-top: 15px;
    }

    .show-password {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      padding: 0;

      .toggle-password {
        margin: 0;
        height: 20px;
        width: 30px;
      }
    }
  }
  
  h2,
  h3 {
    font-size: 2.75rem;
  }
  
  button {
    cursor: pointer;
  }
  
  .right-side {
    background-color: var(--peach);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    min-height: 510px;
    min-width: 400px;
    margin-top: 10vh;
    border-radius: 0 8px 8px 0;
    box-shadow: 2px 3px 8px gray;
    
    h3 {
      padding: 0 2vh;
      text-align: center;
    }
    
    p {
      font-size: x-large;
    }
    
    .sign-up-button {
      border: none;
      border-radius: 10px;
      background-color: white;
      font-size: 1.4rem;
      height: 50px;
      width: 200px;
      margin-top: 15px;
    }
  }
}