.top-elements {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  margin-top: 50px;
  
  .daily-streak {
    border: 1px solid black;
    border-radius: 10px;
    // background-color: var(--cream);
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;
    
    button {
      border: none;
      border-radius: 5px;
      color: white;
      color: black;
      font-size: larger;
      text-align: center;
      // background-color: #718ec4;
      // background-color: rgb(113, 142, 196, 0.6);
      background-color: var(--light-blue);
      // opacity: 0.6;
      height: 50px;
      width: 150px;
      cursor: pointer;
      transition-duration: 0.4s;
    }
    
    button:hover {
      // background-color: rgb(113, 142, 196);
      // opacity: 1;
      background-color: var(--blue);
      // color: white;
    }
  }
}

.nav-buttons {
  // border: 1px solid orange;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin: 100px 0;

  a {
    border-radius: 5px;
    background-color: var(--peach);
    box-shadow: var(--shadow-elevation-medium);

    color: black;
    font-size: larger;
    text-align: center;
    line-height: 50px;
    // text-align: center;
    // vertical-align: baseline;
    height: 50px;
    width: 300px;
    transition-duration: 0.4s;

    &:hover {
      background-color: var(--tan-peach);
    }
  }
}

// iPad Air
// @media screen and (max-width: 820px) {

// }

// iPhone 14 Pro Max
// @media screen and (max-width: 450px) {
//   // WELCOME AND CHECK-IN
//   // .top-elements {

//   // }
//   // BUTTONS
//   .nav-buttons {
//     // border: 1px solid orange;
//     display: flex;
//     flex-direction: column;
//     // justify-content: space-evenly;
//     height: 100%;
//     width: 100%;
//     margin: 100px 0;
  
//     a {
//       border-radius: 10px;
//       background-color: #fec5b9;
//       color: black;
//       font-size: larger;
//       text-align: center;
//       line-height: 50px;
//       // text-align: center;
//       // vertical-align: baseline;
//       height: 50px;
//       width: 300px;
//     }
//   }
// }