.top-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 80px;
  
  .top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    color: var(--dark-green);
    font-size: 1.5rem;
    
    h2 {
      font-size: 2.75rem;
      margin-bottom: 0;
    }

    .welcome-text {
      text-align: center;
    }
  }

  .welcome-img {
    object-fit: cover;
    width: 100%;
    height: 50vh;
    padding: 10px 0;
  }
}

.nav-buttons {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 40px 0;

  a {
    border-radius: 5px;
    background-color: var(--light-green);
    box-shadow: var(--shadow-elevation-medium);

    color: black;
    font-size: larger;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 300px;
    transition-duration: 0.4s;
    margin: 0 10px;

    &:hover {
      background-color: var(--dark-green);
      color: white;
    }
  }
}
