.home {
  min-height: 100vh;
  background-image: url("/assets/waterfall2.jpg");
  background-color: rgba(255,255,255,0.4);
  background-blend-mode: lighten;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}
.home-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 90vw;
  
  .top-text {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    color: var(--dark-green);
    color: black;
    font-size: 2rem;
    font-weight: 400;
    
    .welcome-message {
      font-size: 5rem;
      margin-bottom: 0;
      text-align: center;
    }

    .welcome-text {
      text-align: center;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
