<div class="home">
  <div class="home-contents">
    <div class="top-text">
      <h2 class="welcome-message">Welcome {{ userName }}</h2>
      <p class="welcome-text">
        Take a moment for yourself—explore individual yoga poses or ease into a guided routine. Namaste.</p>
    </div>
    <!-- <img src="/assets/waterfall.jpg" alt="Meditation Spot" class="welcome-img"/> -->
  </div>
  <!-- <div class="nav-buttons">
    <a class="poses-h-button" routerLink="/poses">Explore Poses</a>
    <a class="routines-h-button" routerLink="/routines">View Routines</a> -->
    <!-- <a href="/new-routine">Create A New Routine</a> -->
    <!-- <a>Create A New Routine</a> -->
  <!-- </div> -->
</div>