<div class="routine-details-view">
  @if (!routineData) {
    <p>Loading...</p>
  } @else {
    <section class="routine-details">
      <h1 class="routine-name">{{routineData.name}}</h1>
      <p class="routine-description">{{routineData.description}}</p>
      <p class="routine-difficulty">Difficulty level: {{routineData.difficulty}}</p>

      <section class="pose-layout">
       @for (pose of routineData.routine_poses; track pose.id) {
          <div class="pose-box">
            <h3 class="pose-name">{{pose.name}}</h3>
            <img class="pose-img" src="{{pose.image_url}}" alt="{{pose.name}}"/>
          </div>
        }
      </section>
    </section>
  }
</div>