.poses-view {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Lato", sans-serif;
  h2 {
    font-size: xx-large;
  }
}

.search-and-filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 63vw;

  input {
    border-radius: 5px;
    height: 30px;
    width: 200px;
    margin: 0 50px 0 0;
    padding: 5px;
  }

  i {
    font-size: 40px;
    cursor: pointer;
  }
  
  .search-and-filter {
    position: relative;
    // display: flex;
    // align-items: center;
    // gap: 10px;
    display: inline-block;
  }
  
  #filter-button {
    cursor: pointer;
  }
  
  /* Hide menu by default */
  .filter-menu {
    display: none;
    position: absolute;
    // position: relative;
    // top: 40px;
    top: 35vh;
    // left: 0;
    left: 50vw;
    background-color: var(--peach);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
  
    label {
      // display: block;
      display: flex;
      align-items: center;
      // justify-content: flex-start;
      justify-content: space-between;
      padding: 5px 0;
    }

    input {
      margin: 0;
      width: 25px;
    }
  }
  
  /* Show menu when open */
  .filter-menu.open {
    display: block;
  }
}

.poses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 75vw;

  .pose {
    border: 1px solid gainsboro;
    background-color: whitesmoke;
    display: grid;
    justify-content: center;
    justify-items: center;
    // width: 250px;
    width: 350px;
    margin: 5px;
    padding: 8px;
    cursor: pointer;

    img {
      height: 200px;
    }

    h3 {
      font-size: xx-large;
      margin: 5px;
    }

    p {
      margin: 5px;
    }
  }
}